:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

// Permitir scroll vertical en la sección de pedidos y KPIs
:host ::ng-deep app-page-layout > section > main {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;
}
