<!-- !important podria hacer que esto sea sticky con un buen diseño -->
<div
  class="flex flex-col sm:flex-row sm:items-start sm:justify-between gap-4 mb-8"
>
  <div class="flex-1">
    <h1
      class="m-0 text-2xl font-bold text-gray-900 tracking-wide"
    >
      {{ title() }}
    </h1>
    
    @if (subtitle()) {
    <p  class="text-sm text-gray-500 dark:text-gray-400 mt-1">
      {{ subtitle() }}
    </p>
    }
  </div>

  <div class="flex items-center gap-3">
    <ng-content select="[actions]"></ng-content>
  </div>
</div>
