:host ::ng-deep quill-editor.content-editor .ql-container {
    height: 12rem;
    /* h-48 equivalent */
    font-size: 1rem;
}

:host ::ng-deep quill-editor.content-editor .ql-editor {
    min-height: 100%;
}

:host ::ng-deep app-page-layout > section > main {
    overflow: visible !important;
}

:host ::ng-deep app-page-layout > section {
    overflow: visible !important;
    height: auto !important;
}